<div id="msg">
	<div id="msg_name">
		<%= message.user.name %>
	</div>
	<img id="msg_img" class="roundBorder" src="<%= message.user.imgurl %>"/>
	<div id='msg_text'>
		<%= message.text %>
	</div>
</div>