
<div id="gate_content">
	<div class="title">
		<a href="/">SIMPLECHAT</a>
	</div>

	<div class="subtitle">
		J O I N
	</div>

	<div class="error">
	<%if flash[:error] %>
		<%= flash[:error] %>
	<% end %>
	</div>

	<form id="formPanel" action="/user/authenticate/" method="POST">
		<div class="formField">
			<div class="formLabel">
				Alias:
			</div> 
			<input class="formValue roundBorder" type="text" name="name"/>
		</div>
		
		<div class="formField">
			<div class="formLabel">
				Password:
			</div> 
			<input class="formValue roundBorder" type="password" name="password"/>
		</div>
		
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />	
		<input class="formSubmit" type="submit" value="ENTER"/>
	</form>
	<div id="registerLink">
		<a href="/register/">not a user yet?</a>
	</div>
</div>


